<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529043876474-i1eesfskndkvbceqdbfklcdqarcenim4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529043876474-i1eesfskndkvbceqdbfklcdqarcenim4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtC9VeC0iQF_dJPFZrUTVCRhFJHM4pJ9M</string>
	<key>GCM_SENDER_ID</key>
	<string>529043876474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appelatte.CoviTrace</string>
	<key>PROJECT_ID</key>
	<string>covitrace-df28a</string>
	<key>STORAGE_BUCKET</key>
	<string>covitrace-df28a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529043876474:ios:72e54f113ab302cb31a9c3</string>
</dict>
</plist>